.bloc {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.modif {
  background-color: lightblue;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
}

.liste {
  background-color: lightblue;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
}
