.blagues {
  margin: 10px;

  .blague {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    gap: 10px;
    background-color: lightgreen;
    margin-top: 20px;
  }
}

.modif-btn {
  background-color: lightcoral;
  width: 100px;
  text-align: center;
}
